<%- include("../partials/header") %>

<div class="container my-5">
  <a href="/events">
    <i class="fas fa-long-arrow-alt-left mr-2"></i>
    Back to events
  </a>
  <div class="row my-4">
    <div class="col-lg-4">
      <p class="lead">
        <em>Submitted by <%= event.author.username %></em>
      </p>
      <p class="m-0">Location: <%= event.location %></p>
      <div>
        <p class="m-0">From <%= event.startDate.toLocaleString() %></p>
        <p class="m-0">To <%= event.endDate.toLocaleString() %></p>
      </div>
    </div>
    <div class="col-lg-8">
      <div>
        <img src="<%= event.imagePath %>" class="img-fluid img-thumbnail rounded mx-auto d-block" />
        <div class="event-info-card">
          <div class="float-right">
            <div class="voting-area d-flex flex-column align-items-center">
              <form
                action="/events/<%= event._id %>/upvote?_method=PUT"
                method="POST"
                id="upvoteForm"
              >
                <button>
                  <% if (interaction && interaction.upvoted) { %>
                  <i class="fas fa-sort-up active"></i>
                  <% } else { %>
                  <i class="fas fa-sort-up"></i>
                  <% } %>
                </button>
              </form>

              <p class="votes"><%= event.votes %></p>

              <form
                action="/events/<%= event._id %>/downvote?_method=PUT"
                method="POST"
                id="downvoteForm"
              >
                <button>
                  <% if (interaction && interaction.downvoted) { %>
                  <i class="fas fa-sort-down active"></i>
                  <% } else { %>
                  <i class="fas fa-sort-down"></i>
                  <% } %>
                </button>
              </form>
            </div>
          </div>
          <div class="caption">
            <h4><%= event.name %></h4>
            <!-- There is a dash so it users can enter HTML  -->
            <p><%- event.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
