<%- include("../partials/header") %>

<div class="container my-5">
  <a href="/events">
    <i class="fas fa-long-arrow-alt-left mr-2"></i>
    Back to events
  </a>
  <div class="row my-4">
    <div class="col-md-3">
      <p>
        <em>Submitted by <%= event.author.username %></em>
      </p>
      <p class="lead"><%= event.location %></p>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img src="<%= event.image %>" class="img-fluid" />
        <div class="caption">
          <h4><%= event.name %></h4>
          <h4>Votes: <%= event.upvotes %></h4>
          <!-- There is a dash so it users can enter HTML  -->
          <p><%- event.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
