<%- include("../partials/header") %>

<div class="container my-5">
  <a href="/events">
    <i class="fas fa-long-arrow-alt-left mr-2"></i>
    Back to events
  </a>
  <div class="row my-4">
    <div class="col-lg-4">
      <p class="lead">
        <em>Submitted by <%= event.author.username %></em>
      </p>
      <p class="m-0">Location: <%= event.location %></p>
      <div>
        <p class="m-0">From <%= event.startDate.toLocaleString() %></p>
        <p class="m-0">To <%= event.endDate.toLocaleString() %></p>
      </div>
    </div>
    <div class="col-lg-8">
      <div>
        <img src="<%= event.image %>" class="img-fluid img-thumbnail" />
        <div class="event-info-card">
          <div class="float-right">
            <div
              class="voting-area d-flex flex-column align-items-center text-end"
            >
              <% if (event.upvoted) { %>
              <i class="fas fa-sort-up blue"></i>
              <% } else { %>
              <i class="fas fa-sort-up"></i>
              <% } %>

              <p class="votes"><%= event.votes %></p>
              <% if (event.downvoted) { %>
              <i class="fas fa-sort-down blue"></i>
              <% } else { %>
              <i class="fas fa-sort-down"></i>
              <% } %>
            </div>
          </div>
          <div class="caption">
            <h4><%= event.name %></h4>
            <!-- There is a dash so it users can enter HTML  -->
            <p><%- event.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
